<a href="https://colab.research.google.com/github/Brandao20vtr/Projetos/blob/main/Analise_Exploratoria_Vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Exploratíria - Vendas
Nesse mini projeto vamos fazer as previsões de vendas.

In [4]:
# Verificando a versão utilizada
from platform import python_version
print(f'Versão python usada nesse notebook: {python_version()}')

Versão python usada nesse notebook: 3.7.13

In [5]:
# Bibliotecas utilizadas
import pandas as pd
import numpy as pn
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [10]:
# Carregando o dataset --> train.csv
sales_train_df = pd.read_csv('/content/train.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
# Informações do dataset
print(f'Linhas: {sales_train_df.shape[0]}')
print(f'Colunas: {sales_train_df.shape[1]}')

Linhas: 1017209
Colunas: 9

In [12]:
# Primeiros registros
sales_train_df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1